<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ElevateERP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ElevateERP.styles.css" asp-append-version="true" />
    <link href="/css/Nadvar.css" rel="stylesheet">

    <!--Script-->
    <script src="~/js/site.js"></script>


</head>

<body>
   

    <div id="mySidenav" class="sidenav">
        <!--El logo -->
        <div class="logo">
            <img src="~/img/LOGO.png" alt="Logo">
        </div>

        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>


        <!-- Links del sidebar -->
        <a class="sidebar-item" asp-action="Index" asp-controller="Home">
            <img src="~/img/HOME.png" alt="Inicio">
            <span>Inicio</span>
        </a>
        <a class="sidebar-item" asp-action="pCliente" asp-controller="Cliente">
            <img src="~/img/CLIENTES.png" alt="Clientes">
            <span>Clientes</span>
        </a>
        <a class="sidebar-item" asp-action="pProveedores" asp-controller="Proveedor">
            <img src="~/img/PROVEEDOR.png" alt="Proveedores">
            <span>Proveedores</span>
        </a>
        <a class="sidebar-item" asp-action="pColaboradores" asp-controller="Colaborador">
            <img src="~/img/COLABORADORES.png" alt="Colaboradores">
            <span>Colaboradores</span>
        </a>
        <a class="sidebar-item" asp-action="pAjustes" asp-controller="Ajustes">
            <img src="~/img/AJUSTES.png" alt="Ajustes">
            <span>Ajustes</span>
        </a>

        <!-- Botón de salir en el footer -->
        <div class="footer">
            <form asp-action="Logout" asp-controller="Home">
                <button type="submit" class="btn" style="border-radius: 16px; height: 50px; width: 60px; padding: 1;">
                    <img src="~/img/SALIR.png" alt="Salir" style="width: 100%; height: 100%; object-fit: cover; border-radius: 16px;">
                </button>
            </form>
        </div>
    </div>

    <!-- Contenido de pantalla -->
    <div id="main" class="main">
        @RenderBody()
    </div>


</body>

</html>
