<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] ElevateERP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ElevateERP.styles.css" asp-append-version="true" />
    <link href="/css/Nadvar.css" rel="stylesheet">
    <link id="dark-mode-stylesheet" href="@Url.Content("~/css/Body.css")" rel="stylesheet" disabled />

    <!--Script-->
    <script src="~/js/site.js"></script>
    <script src="~/js/Ajustes.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
   

    <div id="mySidenav" class="sidenav">
        <!--El logo -->
        <div class="logo">
            <img src="~/img/LOGO.png" alt="Logo">
        </div>

        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>


        <!-- Links del sidebar -->
        <a class="sidebar-item" asp-action="Index" asp-controller="Home">
            <img src="~/img/HOME.png" alt="Inicio">
            <span>Inicio</span>
        </a>
        <a class="sidebar-item" asp-action="Clientes" asp-controller="Clientes">
            <img src="~/img/CLIENTES.png" alt="Clientes">
            <span>Clientes</span>
        </a>
        <a class="sidebar-item" asp-action="Proveedores" asp-controller="Proveedores">
            <img src="~/img/PROVEEDOR.png" alt="Proveedores">
            <span>Proveedores</span>
        </a>
        <a class="sidebar-item" asp-action="Usuario" asp-controller="Usuarios">
            <img src="~/img/COLABORADORES.png" alt="Colaboradores">
            <span>Colaboradores</span>
        </a>
        <a class="sidebar-item" asp-action="Ajustes" asp-controller="Home">
            <img src="~/img/AJUSTES.png" alt="Ajustes">
            <span>Ajustes</span>
        </a>

        <!-- Botón de salir en el footer -->
        <div class="footer">
            <form asp-action="Logout" asp-controller="Home">
                <button type="submit" class="btn" style="border-radius: 16px; height: 50px; width: 60px; padding: 1;">
                    <img src="~/img/SALIR.png" alt="Salir" style="width: 100%; height: 100%; object-fit: cover; border-radius: 16px;">
                </button>
            </form>
        </div>
    </div>

    <!-- Contenido de pantalla -->
    <div id="main" class="main">
        @RenderBody()

    </div>

</body>

</html>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const darkModeToggle = document.getElementById('dark-mode-toggle');
        const darkModeStylesheet = document.getElementById('dark-mode-stylesheet');

        // Check local storage for the dark mode preference
        if (localStorage.getItem('dark-mode') === 'enabled') {
            document.body.classList.add('dark-mode');
            darkModeStylesheet.removeAttribute('disabled');
        } else {
            document.body.classList.remove('dark-mode');
            darkModeStylesheet.setAttribute('disabled', 'true');
        }

        // Toggle dark mode on button click
        darkModeToggle.addEventListener('click', () => {
            if (document.body.classList.contains('dark-mode')) {
                document.body.classList.remove('dark-mode');
                darkModeStylesheet.setAttribute('disabled', 'true');
                localStorage.setItem('dark-mode', 'disabled');
            } else {
                document.body.classList.add('dark-mode');
                darkModeStylesheet.removeAttribute('disabled');
                localStorage.setItem('dark-mode', 'enabled');
            }
        });
    });
</script>