@model ElevateERP.Models.Proveedor

<!-- Modal Agregar-->
<div class="modal fade" id="editProveedor" tabindex="-1" role="dialog" aria-labelledby="editProveedorLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProveedorLabel">Editar Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form asp-action="Editar" method="post">

                    <input type="hidden" asp-for="Id" id="proveedorId" name="Id" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Nombre" class="Control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"> </span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NEmpresa" class="Control-label"></label>
                        <input asp-for="NEmpresa" class="form-control" />
                        <span asp-validation-for="NEmpresa" class="text-danger"> </span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="Control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"> </span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Telefono" class="Control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"> </span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Direccion" class="Control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"> </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FormaCompra" class="Control-label"></label>
                        <input asp-for="FormaCompra" class="form-control" />
                        <span asp-validation-for="FormaCompra" class="text-danger"> </span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar Cambio</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

