@{
    ViewBag.Title = "Subir Documento";
    var clientes = ViewBag.Clientes as IEnumerable<Cliente>; // Cast a IEnumerable<Cliente>
    var selectList = new SelectList(clientes, "Id", "Nombre"); // Crea SelectList
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-4">
        <h2>Cargar Documento</h2>
        <form asp-action="SubirDocumentoClie" asp-controller="Documento" method="post" enctype="multipart/form-data">

            <div class="form-group mb-3">
                <label for="cliente">Cliente</label>
                <select id="cliente" name="clienteId" class="form-control">
                    @foreach (var item in selectList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>       

            <div class="form-group mb-3">
                <label class="Control-label">Tipo de documento</label>
                <select id="tipodocumento" name="tipodocumento" class="form-control">
                    <option value="">Seleccionar</option>
                    <option value="Cotizacion">Cotizacion</option>
                    <option value="Contrato">Contrato</option>
                    <option value="Factura">Factura</option>
                </select>
            </div>

            <div class="form-group mb-3">
                <label for="archivo">Agregar Documento</label>
                <input type="file" id="archivo" name="archivo" class="form-control" />
            </div>
            <div class="d-flex justify-content-between">

                <div class="mb-3">
                    <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("DocumentoCliente", "Documento")'">Cancelar</button>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary mt-2">Guardar Documento</button>
                </div>

            </div>

        </form>
    </div>
    <script src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>
